$white-color: #fff;
$primary-color: #58A3EE;
$primary-color-hover: #509be6;
$pro-gray-color:#515151;
$ftr-gray-colo:  #999999;
$jet-black: #000;
$link-color: #949494;
$font-semibold: 'proxima_novasemibold';
//$font-color:#2b2525;
$font-color-gray:#423E37;
//$font-color-gray:rgb(78, 54, 41);
$font-color:$font-color-gray;
//$font-color:darken($font-color-gray,15%);
$second-color: #5DBACF;

$shadow-color:#0000000A;
$border-color:#ECECEC;
$input-select-font:'proxima_novaregular';
$input-select-border:#D1D1D1;
$green-color:#02a246;
$logo-red-color:#f96472;


/*new theme color*/
$blueNew:#2999FF;
$pinkNew:#F96472;
$dark-blue:#1B252C;

/*Mixin*/
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin transition($what: all, $time: 0s, $how: ease-in-out) {
    -webkit-transition: $what $time $how;
    -moz-transition:    $what $time $how;
    -ms-transition:     $what $time $how;
    -o-transition:      $what $time $how;
    transition:         $what $time $how;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}



@mixin box_shadow() {
  -webkit-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px -1px rgba(21, 2, 22,0.5);
}




@mixin breakpoint($point) {

  @if $point == min2400 {
    @media (min-width: 2400px) { @content ; }
 }
  
  @if $point == min2000 {
    @media (min-width: 2000px) { @content ; }
 }

  @if $point == largedesktop1840 {
    @media (max-width: 1840px) { @content ; }
 }

  @if $point == largedesktop1700 {
    @media (max-width: 1700px) { @content ; }
 }

  @if $point == largedesktop1440 {
     @media (max-width: 1440px) { @content ; }
  }
  @if $point == desktop {
    @media (max-width: 1366px) { @content ; }
 }

  @if $point == below1299 {
    @media (max-width: 1299px) { @content ; }
 }

  @else if $point == belowdesktop {
     @media (max-width: 1199px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 991px) { @content ; }
  }

  @else if $point == mobile {
     @media (max-width: 767px)  { @content ; }

  }
  @else if $point == mobilemini {
     @media (max-width: 575px)  { @content ; }

  }
  @else if $point == mobilemicro {
     @media (max-width: 375px)  { @content ; }

  }
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}


@keyframes hover1 {
0% {transform:scale(0)}
50% {transform:scale(1)}
100% {transform:scale(0)}
}

@-webkit-keyframes hover1 {
0% {transform:scale(0)}
50% {transform:scale(1)}
100% {transform:scale(0)}
}




/*Extend*/
.m-p-0{margin:0px; padding:0px;}
.vertical-mid{display:table-cell; vertical-align:middle; float:none;}
.text-ellip{white-space: nowrap;width: 100%; overflow: hidden;text-overflow: ellipsis; display: inline-block;}
.width-disp{display: inline-block;width: 100%;}
.m-t-1{margin-top: 10px;}
.m-t-2{margin-top: 20px;}
.m-t-3{margin-top: 30px;}
.m-t-4{margin-top: 40px;}
.m-t-5{margin-top: 50px;}
.m-t-7{margin-top: 70px;}
.p-a-15{padding: 15px;}
.p-a-20{padding: 20px;}
.section-padding{padding:100px 0px;
  @include breakpoint(largedesktop1440){
    padding:80px 0;
  }
  @include breakpoint(tablet){padding:70px 0;}
  @include breakpoint(mobile){padding:60px 0;}

}


