.region-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  flex-wrap: wrap;
}

.region-row-wrapper {
  padding-right: 8px;
  padding-bottom: 8px;
}

.region-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fafdff;
  border: 1px solid rgba(133, 135, 136, 0.3);
  box-shadow: 1px 1px 1px -1px rgba(21, 2, 22, 0.5);
  cursor: default;
}

.region-text {
  font-size: 15px;
  padding: 5px 10px;
}

.remove-region {
  margin-left: 6px;
  color: #f96472;
  border-left: 1px solid rgba(182, 182, 182, 0.5);
  padding: 0px 8px;
}
